{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <div>
        <h1>About</h1>

        <p>
            This is a fan made website. The site only tracks my own taste of channels.<br>
            You can't browse older videos or members-only content on this site. Please use YouTube for that.
        </p>
        <p>
            Also, the creator may decide to change the visibility of the video days or weeks later.
        </p>
        <p>
            Note that the config, the channel list and the date (when the page was generated), etc.. do not guarantee
            that
            the video information listed is up to date according to these settings!
        </p>
        <p>
            yt-channel-watcher (short: ytcw) is a program that call <a class="ytcw-text-blue-500"
                href="https://github.com/yt-dlp/yt-dlp" target="_blank" rel="noopener noreferrer">yt-dlp</a> to fetch
            channels
            informations (videos&shorts) and then generate a static HTML from the video data.<br>
            I really liked the <a class="ytcw-text-blue-500" href="https://holodex.net/" target="_blank"
                rel="noopener noreferrer">Holodex</a>
            project, but it mostly tracks vtuber clippers. I just wanted to see the vtubers' own content (or some
            channels that only follow certain YouTubers).<br>You can follow channels on Holodex, but I haven't found a
            way to filter out the live streams.<br>
            This project is not limited to just to the vtuber community, you can use it to fetch any YouTube channel.
        </p>
        <h2>Links:</h2>
        <ul>
            <li>
                <a class="ytcw-text-blue-500" href="https://github.com/mY9Yd2/yt-channel-watcher" target="_blank"
                    rel="noopener noreferrer">yt-channel-watcher - GitHub</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
